* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: normal 500 15px/1.5 "Plus Jakarta Sans", sans-serif;
  --color-neutral-100: #000112;
  --color-neutral-200: #20212c;
  --color-neutral-300: #2b2c37;
  --color-neutral-400: #3e3f4e;
  --color-neutral-500: #828fa3;
  --color-neutral-600: #e4ebfa;
  --color-neutral-700: #f4f7fd;
  --color-neutral-800: #ffffff;
  --color-primary: #635fc7;
  --color-primary-light: #a8a4ff;
  --color-warning: #ea5555;
  --color-warning-light: #ff9898;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

.inner {
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  color: var(--color-neutral-800);
  font-weight: bold;
  line-height: 36px;
  box-sizing: border-box;
}

.inner:before {
  content: "";
  padding-left: 10px;
  background: var(--color-primary);
  color: var(--color-neutral-800);
}

.inner:after {
  content: "";
  padding-right: 10px;
  background: var(--color-primary);
  color: var(--color-neutral-800);
  text-align: right;
}

.switch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  display: block;
  width: 14px;
  border: 0 solid #bbb;
  border-radius: 50px;
  margin: 3px;
  background: #fff;
  transition: all 0.16s ease-in 0.08s;
}

.inner.dark {
  margin-left: 0;
}

.switch.dark {
  right: 0px;
}
